*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4739e4;
}

a{
    text-decoration: none;
    color: white;
}

.menu {
    display: flex;
    align-items: center;
    height: 12vh;
    position: sticky;
    background-color: rgba(48, 47, 47, 0.493);
    top: 0;
    width: 100vw;
    z-index: 1;
    box-shadow: 0 0 30px #222;
}

.menu .conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.menu .conteiner:nth-child(2) {
    position: relative;
}

.mobile-menu {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.line_1,
.line_2,
.line_3 {
    margin: 10px;
    height: 2px;
    background-color: #eaf1fd;
    transition: .3s;
    border-radius: 2px;
}


.nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 12vh;
    left: 0;
    width: 35vw;
    height: 88vh;
    background-image: linear-gradient(to top,#172398, #4739e4);
    box-shadow: 10px 10px 10px #01044794;
    transform: translateX(-100%);
    list-style: none;
    transition: all .3s ease-in;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.nav-list.active {
    transform: translateX(0);
}

.nav-list li {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 7s;
    border-radius: 10px;
    color: white;
    opacity: 0;
}

.nav-list li:hover{
    background-color: rgba(183, 183, 183, 0.129);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.344);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(-80px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line_1 {
    transform: rotate(-45deg) translate(-8.5px, 9px);
}

.mobile-menu.active .line_2 {
    opacity: 0;
}

.mobile-menu.active .line_3 {
    transform: rotate(45deg) translate(-8px, -7.9px);
}


.principal {
    position: relative;
    top: -12vh;
    background: url("imagens/programação\ web\ -\ shark.pdf\ \(Site\).png") no-repeat center bottom;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    z-index: -4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'cleiton';
    color: white;
    text-transform: capitalize;
    
}
.text{
    margin-bottom: 40vh;
}

.logo {
    width: 7.5%;
}

.login {
    padding: 10px 30px;
    background-color: aliceblue;
    color: black;
    border-radius: 18px;
}
.fa-solid {
    color: rgb(219, 217, 217);
    font-size: 2em;
}

.preta{
    width: 100vw;
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.pt{
    width: 70%;
    height: 80%;
    background:linear-gradient(to top right,#790049, #8B0A2F,#b65b0c);
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    transition: all .3s;
}
.pt a:hover{
    opacity: 0.7;
    transform: translateY(20px);
    box-shadow: 10px 10px 10px #222;

}
.pt a {

    border-radius: 15px;
    padding: 20px 15px;
    transition: all .3s;
}
.pt div{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
